* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	font-family: 'Montserrat', Arial, Helvetica, sans-serif;
}

html {
	font-size: 62.5%;
}

a {
	text-decoration: none;
}

.row {
	width: 100%;
}

.container {
	max-width: 1150px;
	margin: 0 auto;
	display: flex;
	padding: 0 2em;
}
.cta-button {
	background-color: #25f18b;
	border: none;
	border-radius: 10px;
	color: #fff;
	cursor: pointer;
	font-size: 1.8rem;
	padding: 1em 2em;
	transition: 0.3s ease background-color, 0.3s ease box-shadow,
		0.3s ease transform;
}

.cta-button:hover {
	background-color: #6cfeb5;
	box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.3);
	transform: scale(1.1);
}

/* HEADER */

.header {
	background: radial-gradient(rgb(194, 74, 126), rgb(105, 86, 235));
	color: #fff;
	padding: 4.4em 0;
}

.header__navbar {
	justify-content: space-between;
	padding-right: 2em;
}

.header__logo img {
	height: 3em;
}

.header__nav ul {
	column-gap: 2.5em;
	display: flex;
	font-size: 1.5rem;
	list-style-type: none;
}

.header__nav a {
	color: #fff;
	font-weight: 500;
	transition: 0.3s ease color;
}

.header__nav a:hover {
	color: #58d4f7;
}

.header__container {
	margin-top: 5em;
	justify-content: space-between;
	padding-bottom: 7em;
}

.header__container .column {
	padding-right: 80px;
}

.header__container .column:first-child {
	padding-top: 40px;
}

.header__container h1 {
	font-size: 3.8em;
	margin-bottom: 0.5em;
}

.header__container p {
	font-size: 2em;
	font-weight: 100;
	margin-bottom: 2em;
	margin-right: 11em;
	line-height: 1.6;
}

.header__hero-img {
	width: 450px;
	height: 350px;
	transform: rotate(-8deg);
	background-color: #fff;
	border: 10px solid #fff;
	border-radius: 8px;
}

.header__hero-img img {
	width: 100%;
}

/* FEATURES  */

.features {
	background-color: #000000;
	color: #ffffff;
	font-size: 1.4rem;
	padding-bottom: 4em;
	text-align: center;
}

.features h2 {
	font-size: 2.2em;
	font-weight: 200;
	padding: 1.5em 0;
}

.features h4 {
	font-weight: 500;
	padding: 1.8em 0;
}

.features p {
	line-height: 1.5;
	font-weight: 200;
}

.features__container {
	justify-content: center;
	column-gap: 4em;
	padding-bottom: 2em;
}

.features .column {
	width: clamp(100px, 30%, 200px);
}

.features__image-holder {
	background-color: #ffffff;
	border-radius: 50%;
	display: flex;
	margin: 0 auto;
	padding: 2em;
	width: 80px;
	height: 80px;
	justify-content: center;
}

.features__image-holder img {
	object-fit: contain;
}

/* LOGOS  */
.logos {
	padding: 4em 0;
	background-color: #f9fafa;
}

.logos__container {
	justify-content: center;
}

.logos img {
	height: 29px;
	width: auto;
}

/* DISPLAY section */

.display {
	color: #454545;
	font-size: 1.4rem;
	font-weight: 300;
	padding: 3em 0;
	text-align: justify;
}

.display h2 {
	font-size: 2.2em;
	font-weight: 200;
	margin: 0.8em 0;
	text-align: left;
}
.display p {
	line-height: 1.8;
}

.display__container {
	justify-content: space-around;
	column-gap: 2em;
}

.display__section-img {
	flex: 0 0 60%;
}

.display__section-img img {
	width: clamp(100px, 100%, 600px);
	height: auto;
}

/* PRICING */
.pricing {
	background-color: #f8f9f9;
	color: #575957;
	font-size: 1.4em;
	padding: 4em 0;
}

.pricing__header {
	text-align: center;
}

.pricing__header h2 {
	font-weight: 200;
	font-size: 2.1em;
	margin: 0.6em 0;
}

.pricing__header p {
	color: #9d9ba6;
	font-weight: 200;
}

.cards {
	justify-content: center;
	align-items: stretch;
	padding: 3em 0;
}

.cards__card {
	padding: 3em 4em;
	text-align: center;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
}

.cards__card h4 {
	font-weight: 200;
}

.cards__card ul {
	list-style-type: none;
	margin: 2em 0;
	align-self: self-start;
}

.cards__card ul li {
	line-height: 1.3;
}

.cards__card-price {
	display: block;
	font-size: 2em;
	font-weight: 700;
	margin: 0.3em 0;
}

.cards__card-period {
	font-size: 0.8em;
}

.cards__card-btn {
	background-color: #07bceb;
	border: none;
	border-radius: 1em;
	color: #ffffff;
	cursor: pointer;
	padding: 1.2em 1.9em;
	white-space: nowrap;
	margin-top: auto;
	transition: 0.3s ease-out transform, 0.3s ease background-color;
}

.cards__card-btn:hover {
	background-color: #62d6f4;
	transform: scale(1.1);
}

.cards__card--active {
	box-shadow: 0 0 32px rgba(0, 0, 0, 0.2);
}

/* TEAM */

.team {
	font-size: 1.4rem;
	padding: 3em 0;
}

.team h2 {
	font-size: 2.1em;
	font-weight: 200;
	margin: 0.6em 0;
}

.team__header {
	text-align: center;
}

